<h1>Monte seu cardápio</h1>
<p></p>
<p [className]="'error'">{{ error_message }}</p>
Escolha o seu lanche: <select [(ngModel)]="selectedOption" name="lanche" (ngModelChange)="onChange($event)">
  <option *ngFor="let l of lanches">
     {{l.name}}
  </option>
</select>
<p></p>
<h3>Adicione ingredientes</h3>
<p></p>
<div [className]="'table'">
  <div [className]="'tr'" *ngFor="let i of ingredientes">
    <div [className]="'td'"><button appDlbclick (click)="handleClickMinus($event, i.nome)">-</button></div>
    <div [className]="'td'">{{ i.nome }}</div>
    <div [className]="'td'"><button appDlbclick (click)="handleClickPlus($event, i.nome)">+</button></div>
    <div [className]="'td'">{{ i.qtd }}</div>
  </div>
</div>
<p></p>
Valor: {{ valor }}
